html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;

	background-image: linear-gradient(rgba(255, 255, 128, .9) 25%, rgba(255, 255, 128, .9) 100%), url(./banner.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center 60px;
}

p {
	line-height: 1.8em;
	margin: .45em 0;
}

a {
	text-decoration: none;
}

#container {
	position: relative;
	min-height: 100%;
}

#header {
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	z-index: 20;
	height: 60px;
	margin-top: 0;
}

#header ul {
	position: relative;
	margin: 10px 17.5%;
	width: 65%;
	text-align: right;
	list-style: none;
}

#header li {
	display: inline-block;
}

#header a {
	display: inline-block;
	padding: 8px;
	font-weight: 600;
	opacity: 0.5;
}

#header a:hover, #header a:focus,  #header a.active {
	opacity: 1;
}

.section {
	position: relative;
	top: 0px;
	width: 100%;
	padding: 80px 0;
	background-color: #FFF;
}

.section:not(:last-child) {
	margin-bottom: 80px;
}

.intro.section {
	background-image: linear-gradient(transparent, rgba(255, 255, 255, .7) 50%, rgba(255, 255, 255, 1) 100%);
	padding-top: 260px;
	padding-bottom: 100px;
	background-color: transparent;
}

.section p + p:not(.quoter):not(.quote) {
	margin-top: 2em;
}

.brand {
	font-family: "Muli", Helvetica, sans-serif;
	margin-top: 0;
	color: rgba(95, 204, 95, 1);
	text-transform: lowercase;
}

.brand::before {
	content: '{ ';
	color: rgba(96,142,83, 1);
}

.brand::after {
	content: ' }';
	color: rgba(96,142,83, 1);
}

a.brand::before, a.brand::after {
	color: transparent;
}

a.brand:hover::before, a.brand:hover::after, a.brand.active::before, a.brand.active::after {
	color: rgba(96,142,83, 1);
}

.potato {
	width: 65%;
	margin: auto;
}

.potato p:not(.quoter), .potato h1, .potato h2, .potato h3, .section h1 {
	text-align: center;
}


small strong {
	font-size: 1.5em;
	display: inline;
	margin: 0 4px;
}

h2, h3, strong, .quoter {
	color: rgba(95, 204, 95, 1);
}

.quoter {
	text-align: right;
	font-style: italic;
	font-weight: 600;
	margin-bottom: -36px;
}

.quoter::before {
	content: '- ';
	font-weight: 300;
}

.student img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 6px 30px 0px 0;
	float: left;
}

.student h3 {
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 4px;
}

.student p.quote {
	margin: 0;
	padding-bottom: 10px;
	width: calc(100% - 150px);
	float: left;
}

#footer {
	width: 100%;
	padding: 20px 17.5%;
	background: transparent;
	box-sizing: border-box;
}

#footer > p, #footer > address {
	display: inline-block;
}

address {
	float: right;
	margin: 16px 0;
}

#logo {
	position: absolute;
	bottom: 60px;
	right: 60px;
}

li {
	margin-bottom: 10px;
}

.you {
	margin: 40px 0 80px 0;
}

.you:last-child {
	margin: 40px 0 0 0;
}

.you h3 {
	margin-bottom: 0;
}