body {
	padding: 0;
	margin: 0px 0px -20px 0px;
	height: 100%;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

#container {
	position: relative;
	min-height: 100%;
}

.section {
	position: relative;
	top: 0px;
	width: 100%;
	padding: 1px 0px 30px 0px;
}

.section:nth-child(odd){
	background-color: rgba(250, 250, 255, 0.5025);
}

.section:nth-child(even){
	background-color: white;
}

.intro.section {
	background-image: linear-gradient(rgba(95, 204, 95, 0.79), rgba(255,255, 255,.95) 90%, white), url(./banner.jpg);
	background-size: cover;
	background-blend-mode: lighten;
	background-position-y: bottom;
	padding-top: 260px;
	padding-bottom: 100px;
	background-color: rgba(115, 164, 17, 0.79);
}


.section .brand {
	color: #608E53;
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 3em;
}

.section h1 {
	font-family: 'Merriweather', serif;
	font-size: 40px;
	text-align: center;
	color: rgb(255, 168, 43);
}

h2 {
	margin-bottom: -10px;

}

.potato {
	width: 65%;
	margin: auto;
}

p {
	font-size: 20px;
	text-indent: 14px;
	line-height: 1.8em;
}

.student {
	margin-top: 26px;
	margin-bottom: 15px;
	border-radius: .25em;
	background-color: white;
	width: 65%;
	margin: 0px auto 30px auto;
}

.student img {
	float: left;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 6px 10px 0px 6px;
}

.student h3 {
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 4px;
}

.student p {
	margin: 0px 0px 0px 16px ;
	padding-bottom: 10px;

}

#footer {
   width:100%;
   height:50px;
   background: rgba(95, 204, 95, .92);
}

#footer p {
	padding-top: 10px;
	color: white;
}

address {
	position: absolute;
	right: 40px;
	bottom: 12px;
	color: white;
}

#logo {
	position: absolute;
	bottom: 26px;
	right: 40px;
}


li {
	margin-bottom: 10px;
}

#noIndent p {
	text-indent: 0px;
	margin: 8px 0px 0px 0px;
}

#lastSection {
	margin-bottom: -20px;
}