---
title: Rails Girls Houston February 2014
---
.grid_12#fb
  %h1 Adding authentication
  %p 
    Follow the guide on the 
    %a{href: 'http://guides.railsgirls.com/devise/', target: '_blank'}official Rails Girls guide.