---
title: Rails Girls Houston February 2014
---
.grid_12#github
  %h1 Sharing your app on Github
  %p Github is an awesome resource for saving your code and working with others. They are also a sponsor of today's workshop!
  %p 
    Coaches - help your students set up a Github account and set up their repo. You will most likely have to change the remotes. Here's a 
    %a{href: 'https://gist.github.com/iterion/9146837', target: '_blank'}quick gist
    we made to help.
  %p 
    You can follow the reference outlined
    %a{href: 'http://guides.railsgirls.com/github/', target: '_blank'} on the official Rails Girls guide.