.features {
  ul {
    margin: 0 0 25px 15px;
    list-style-position: outside;
    
    li {
      font-size: 16px;
    }
  }
}

#fb {
  img { margin-bottom: 10px;} 
}

.explore-home {
  padding-bottom: 20px;

  h1 {
    margin: 0px;
  }

  h3 {
    font-size: 23px;
    margin: 5px 0 25px 3px;
    color: rgb(90, 83, 83);
  }

  .block {
    margin-left: 5px;
    margin-bottom: 15px;
    border-left: 2px solid gray;

    a, p {
      font-size: 14px;
      border: none;
      padding-left: 10px;
    }

    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      } 
    }
  }
}