---
title: Rails Girls Houston February 2014
---
.grid_12#pictures
  %h1 Upload pictures
  %p The easiest way to add images is to use a gem called CarrierWave.
  %p 
    Along with your coach, try to implement 
    %a{href: 'http://railscasts.com/episodes/253-carrierwave-file-uploads?view=asciicast', target: '_blank'} tutorial in your app (you will have to change a few naming conventions).

  %p 
    You can also try your hand at implementing Gravatar integration. Gravatar is a universal avatar application that is associated with your email that can provide your avatar on any site that supports it. Take a look at 
    %a{href: 'http://railscasts.com/episodes/244-gravatar?view=asciicast', target: '_blank'}this tutorial.
  %p 
    When you're done, you can look at one of our solutions
    %a{href: 'https://github.com/codeparkhouston/rails-girls-houston-reference/pull/5/files', target: '_blank'}here.