.grid_12#update
  %h1 Updating User's Profiles
  %p If we want to be able to edit a user's profile, we'll need to create a new page for them.
  %p 
    Like before, we'll have to create a new controller action and a view. Take a stab at it with your coach. A solution is located 
    %a{href: "https://github.com/codeparkhouston/rails-girls-houston-reference/pull/4/files" target: '_blank'}here.
  %p Don't forget to add a link next to the users on the index page!