.page-wrapper{
  z-index: 3;
  position: relative;
}
.header-main{
  text-align: center;
}
.events{
  list-style: none;
  padding-left: 0;
  font-size: 1.5em;
}
.section{
  margin-top: 5em;
}
.park-block{
  @include clearfix();
  margin: 10em 0 5em 0;
  text-align: center;
}
.footer{
  padding: 10em 0 5em 0;
}
h1{
  font-family: $font-family-serif;
  text-transform: uppercase;
}
body{
  overflow-x: hidden;
}
