.section.css-slideshow {
  position: relative;
  overflow: hidden;
  height: 260px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}
.css-slideshow .student {
  position: absolute;
  width: 90%;
  margin: 0 5%;
  opacity: 0;
}
.student:nth-child(1) {
  animation: xfade 18s 0s infinite;
}
.student:nth-child(2) {
  animation: xfade 18s 6s infinite;
}
.student:nth-child(3) {
  animation: xfade 18s 12s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33.3%{
    opacity: 0;
  }
  97.6% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}