html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.25em;

	background-image: linear-gradient(rgba(255, 255, 150, .9) 25%, rgba(255, 255, 150, .9) 100%), url(../images/banner.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center top;
}

p {
	line-height: 1.8em;
	margin: .45em 0;
}

a {
	color: rgba(95, 204, 95, 1);
	text-decoration: none;
}

a:hover, a:focus {
	color: rgba(96,142,83, 1);
	outline: none;
}

#container {
	position: relative;
	min-height: 100%;
}

#header {
	display: none;
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	z-index: 20;
	height: 60px;
	margin-top: 0;
}

#header ul {
	padding: 0;
	position: relative;
	margin: 10px auto;
	width: 90%;
	text-align: center;
	list-style: none;
}

#header li {
	display: inline-block;
}

#header a {
	display: inline-block;
	padding: 8px;
	font-weight: 600;
	opacity: 0.5;
}

#header a:hover, #header a:focus,  #header a.active {
	opacity: 1;
}

.section {
	position: relative;
	top: 0px;
	width: 100%;
	padding: 80px 0;
	background-color: #FFF;
}

.section:not(:last-child) {
	margin-bottom: 50px;
}

.section:last-child {
	padding-bottom: 160px;
}

.intro.section {
	background-image: linear-gradient(transparent, rgba(255, 255, 255, .7) 50%, rgba(255, 255, 255, 1) 100%);
	background-color: transparent;
}

.section:not(.form) p + p:not(.quoter):not(.quote) {
	margin-top: 2em;
}

.brand {
	margin-top: 0;
	color: rgba(95, 204, 95, 1);
	font-family: "Muli", Helvetica, sans-serif;
	text-transform: lowercase;
}

.brand::before {
	content: '{ ';
	color: rgba(96, 142, 83, 1);
}

.brand::after {
	content: ' }';
	color: rgba(96, 142, 83, 1);
}

a.brand::before, a.brand::after {
	color: transparent;
}

a.brand:hover::before, a.brand:hover::after, a.brand:focus::before, a.brand:focus::after, a.brand.active::before, a.brand.active::after {
	color: rgba(96, 142, 83, 1);
}

a.brand:hover, a.brand:focus, a.brand.active {
	color: rgba(95, 204, 95, 1);
}

.potato {
	width: 90%;
	margin: auto;
}


.section .potato p:not(.quoter),
.section .potato h1,
.section .potato h2,
.section .potato h3,
.section h1 {
	text-align: center;
}

.quote {
	font-style: italic;
}

.quote::before, .quote::after {
	content: '"';
}

.quote strong {
	font-size: 1.1em;
	display: inline;
	margin: 0 4px;
}

h2, h3, strong, .quoter {
	color: rgba(95, 204, 95, 1);
}

.quoter {
	text-align: right;
	font-style: italic;
	font-weight: 600;
	margin-bottom: -36px;
}

.quoter::before {
	content: '- ';
	font-weight: 300;
}

.student img {
	display: none;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 6px 30px 0px 0;
	float: left;
}

.student p.quote {
	margin: 0;
	padding-bottom: 10px;
	width: 100%;
	float: left;
}

#footer {
	width: 100%;
	background: rgba(95, 204, 95, 0.5);
	box-sizing: border-box;
	font-size: 0.75em;
	padding: 0.5em 0;
}

#footer p {
	display: inline-block;
}

#footer a {
	color: rgba(96,142,83, 1);
}

#footer a:hover, #footer a:focus {
	color: rgba(255, 255, 255, 1);
}

#footer .contact-us {
	float: right;
}

#logo {
	position: absolute;
	bottom: 30px;
	right: 60px;
}

li {
	margin-bottom: 10px;
}

.actions {
	list-style: none;
	position: relative;
	width: 100%;
	padding: 0;
	margin: 50px 0 0 0;
}

.actions li {
	display: inline-block;
	width: 100%;
}

.actions li p {
	margin-top: 0;
}

.actions li a {
	width: 65%;
	text-align: center;
	text-transform: lowercase;
	overflow: hidden;
	margin: 0 auto;
}
.actions li a, button {
	font-family: "Muli", Helvetica, sans-serif;
	letter-spacing: 0.05em;

	display: block;
	box-sizing: border-box;
	padding: 0.75em 1.5em;

	background-color: rgba(95, 204, 95, 1);
	color: #FFF;

  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.actions li a:hover, button:hover, button:focus {
	background-color: rgba(95, 204, 95, 0.25);
}

.actions li a:hover, .actions li a:focus, .actions li a.active, button:hover, button:focus {
	color: rgba(95, 204, 95, 1);
}

.actions li a:focus, .actions li a.active{
	background-color: transparent;
}

.actions li a::before {
  content: "\2b";
  font-style: normal;
  font-weight: 600;
  padding-right: 0.5em;
}

.closed {
	max-height: 0;
	display: none;
	padding: 0;
}

.action-viewer form {
	margin: auto;
	position: relative;
}

.units {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 0 0 0.5em 0;
	padding: 0;
	list-style: none;
}

.units label{
	padding: 0.25em 0.5em;
	text-align: right;

	font-style: italic;
	font-weight: 300;
	font-size: 0.65em;
	line-height: 2.5em;

	display: block;
	width: 100%;
	cursor: pointer;

  box-sizing: border-box;
  border: 1px solid transparent;

  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.units input[type=checkbox] {
	display: none;
}

.units input:checked + label {
	border-style: solid;
	border-color: rgba(95, 204, 95, 1);
}

.units label:hover {
	border-style: dotted;
	border-color: rgba(95, 204, 95, 1);
}

.units label::after {
	content: attr(data-unit-start) ' - ' attr(data-unit-end);
	font-weight: 600;
	font-style: none;
	float: left;
}

.action-viewer form::after {
	display: none;
	opacity: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 1);
	content: 'Saving...';
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 120px;
	left: 0;
	top: 0;
	color: rgba(95, 204, 95, 1);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.action-viewer form.submitting::after {
	display: block;
	opacity: 0.75;
}

.action-viewer .requirements {
	font-size: 0.85em;
	text-align: center;
  list-style: none;
  padding: 0;
}

.form-group {
	margin-bottom: 1em;
}

.form-group button {
	font-size: 0.85em;
	border: none;
}

.form-group > label {
	font-weight: 600;
	display: block;
	font-size: 0.75em;
}

.form-group > label::after {
	content: '(required)';
	opacity: 0.5;
	font-weight: 400;
	font-size: 0.75em;
	display: inline-block;
	margin: 0 0.25em;
	float: right;
}

.form-group.valid > label::after {
	content: "\2713 ";
	color: rgba(95, 204, 95, 1);
}

.form-group.not-email > label::after {
	content: '(please enter an email)';
	color: #333;
}

.form-group input, textarea {
	font-size: 0.85em;
	line-height: 1.5em;
	padding: 0.25em 0.5em;
	border: 1px dotted rgba(95, 204, 95, 1);
	width: 100%;
  box-sizing: border-box;
}

.form-group textarea {
	min-height: 160px;
	resize: none;
}

button[disabled]{
	background-color: transparent;
	border: 1px dotted rgba(95, 204, 95, 1);
	color: rgba(95, 204, 95, 1);
	cursor: not-allowed;
}

input:focus, textarea:focus, button:focus {
	outline: none;
}

.form-group input:focus, .form-group textarea:focus, .form-group.valid input, .form-group.valid textarea {
	border: 1px solid rgba(95, 204, 95, 1);
}

@media screen and (min-width: 530px) {

	#header {
		display: block;
	}

	body {
		background-position: center 60px;
	}

	.intro.section {
    padding-top: 260px;
	}

	.student img {
		display: block;
	}

	.student p.quote {
		width: calc(100% - 150px);
	}

}

@media screen and (min-width: 650px) {

	#header ul {
		text-align: right;
	}

}

@media screen and (min-width: 964px) {

  .potato, .css-slideshow .student, #header ul {
    width: 80%;
  }
  .css-slideshow .student {
  	margin: 0 10%;
  }

	#header ul {
		width: 80%;
	}

}

@media screen and (min-width: 1000px) {

	.actions li {
		width: 33%;
	}

	.actions li a {
		width: 90%;
	}

	.units label{
		font-size: 0.85em;
	}

}

@media screen and (min-width: 1182px) {

  .potato, .css-slideshow .student, #header ul {
    width: 70%;
  }
  .css-slideshow .student {
  	margin: 0 15%;
  }

	#header ul {
		width: 70%;
	}

	.action-viewer form{
		width: 50%;
	}

}
