---
title: Rails Girls Houston February 2014
---
.grid_12#bs
  %h1 Bootstrap
  %p We've covered HTML, but so far we haven't gone over how we actually created styles within our app. Styling and design is accomplished through the use of cascading style sheets, or CSS. Have your coach go over the styles we've used so far (app/assets/stylesheets) and see how changing different colors and styles affects what we've built. 

  %p 
    After you're done with that, you can add bootstrap, a popular front-end framework for quickly creating attractive sites. Visit 
    %a{href: 'http://getbootstrap.com/css/', target: '_blank'}Get Bootstrap 
    for more information. Go through the Expo and try to implement the styles on your own. 

  %p 
    The simplest way to include Bootstrap in your project is to add it to app/views/layouts/application.html.erb. 
  %p
    In the 
    %code head 
    tag add 
    %code < link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet' >