---
title: Our Mission
---
.park-block.header-main
  .container
    .row
      .col-xs-12
        %h1 Code Park

        .section
          %h3
            Thank you for joining us at
          %h3
            %a{:href=>'/railsgirls/events/feb2014/workshop', :target=>'_blank'}
              %img.railsgirlshouston{:src=>'/images/railsgirls/railsgirlshouston-red-logo.png'}
          %h3
            February 2014!
          %h3
            %a{:href=>'/railsgirls/events/feb2014/workshop', :target=>'_blank'}
              Rails Girls Houston February 2014 Guide
        .section
          %h3 Let's keep learning!
          %ul.events
            %li
              %a{:href=>'http://www.meetup.com/Girls-Coding-Club/', :target=>'_blank'}
                / %span.date March 15, 2014:
                Girls Coding Club

        .section
          %h4 Sign up for our mailing list to get information about future events.

          #mc_embed_signup
            %form.validate#mc-embedded-subscribe-form.form-inline{:action=>"http://houstoncodepark.us7.list-manage1.com/subscribe/post?u=60e016044f1b65a57f9427b9b&amp;id=0669b73c37", :method=>"post", :name=>"mc-embedded-subscribe-form", :target=>"_blank", :novalidate=>true}
              .form-group
                %input.form-control.required.email#mce-EMAIL{:type=>"email"}
                %input.btn.btn-primary#mc-embedded-subscribe{:type=>"submit",:value=>"Subscribe",:name=>"subscribe"}
              .clear#mce-responses
                .response#mce-error-response{:style=>"display:none;"}
                .response#mce-success-response{:style=>"display:none;"}

.park-block
  .container
    .row.section
      .col-xs-12
        %h1 The Humidity's Not Too Bad
        %h3 We are Code Park, a group of Houston developers joining forces to create welcoming environments for anyone to learn to code for the web. Our mission is to increase developer diversity in our community so we can grow stronger.
    .row.section
      .col-md-3.col-sm-6.col-xs-12
        %img{:src=>"images/feature01.png", :alt=>""}
        %h3 Visibility
        %p Increase visiblity for your particular user group. Want everyone to come out to your Erlang meetup? We'll get the word out for you.
      .col-md-3.col-sm-6.col-xs-12
        %img{:src=>"images/feature02.png", :alt=>""}
        %h3 Merge
        %p Let our forces combine! We are here for beginners all the way to experienced. By joining up we can help reduce simple things like meeting conflicts, but also increase the number of new initiatives from a bigger pool of volunteers.
      .col-md-3.col-sm-6.col-xs-12
        %img{:src=>"images/feature03.png", :alt=>""}
        %h3 Pair
        %p Find other developers to work with on fun projects. What better way for beginners to keep on going than to have friends working with them? Experienced developers can also benefit from working with other developers outside their skillset or by volunteering to run beginner workshops.
      .col-md-3.col-sm-6.col-xs-12
        %img{:src=>"images/feature04.png", :alt=>""}
        %h3 Publish Presentations
        %p
          We want to become a body of information for meetups, which includes having a repo of awesome presentations.

.park-block
  .container
    .row
      .col-xs-12
        %h1 The Team
        %h2.no-margin
          We organize
          %a{:href=>"http://railsgirls.com/houston", :target=>"blank"}
            Rails Girls Houston
          and are plotting many more hands-on coding events!