.grid_12.schedule
  %h1 Schedule
  %h2 Friday, February 21st, 2014
  .grid_3.time 6:00pm - 8:30
  .grid_9.desc
    %h3 Installation party
    %p Completely optional, as long as you can install everything yourself! Bring your laptop if you can, so we can install Ruby on Rails for you. This is an open block of time so drop in whenever is good for you. You'll get to meet coaches and fellow Rails Girls!
  .clear
  %h2 Saturday, February 22nd, 2014
  .grid_3.time 9:00 am - 10:00 
  .grid_9.desc
    %h3 Registration, Breakfast/Coffee & Installation Fest
    %p During the morning, we’ll install Ruby on Rails on your computer while enjoying coffee and breakfast.
  .clear
  .grid_3.time 10:00 - 10:15
  .grid_9.desc
    %h3 Welcome
    %p We will talk about the day and get a word from our sponsors.
  .clear
  .grid_3.time 10:15 - 10:45
  .grid_9.desc
    %h3 Introduction: The Web as a Restaurant
    %p Let's learn about what really happens when we type in a web address.
  .clear
  .grid_3.time 10:45 am - 1 pm
  .grid_9.desc
    %h3 Workshop: Let's get coding!
    %p We will break into small groups and jumpstart your first web application!
  .clear
  .grid_3.time 1:00 - 1:30
  .grid_9.desc
    %h3 Lunch
    %p 
  .clear
  .grid_3.time 1:30 - 1:45
  .grid_9.desc
    %h3 De-coding Websites
    %p Let's dig a little deeper and understand what's behind the magic of big web apps!
  .clear
  .grid_3.time 1:45 - 6
  .grid_9.desc
    %h3 Workshop: Keep building and exploring!
    %p 
      Finish up the starter app and then explore different ways of customizing your web app on the
      %a{:href=>"/railsgirls/events/feb2014/workshop/app/features"} Exploration! page. 
      Ask your coach for any additional guidance you may need at this time.
  .clear
  .grid_3.time 6  
  .grid_9.desc 
    %h3 Closing Remarks
    %p 
  .clear
  .grid_3.time 6:30
  .grid_9.desc
    %h3 A very Rails Girls dinner!
    %p Hang out and have dinner with us in Rice Village!
  .clear