.grid_12.features
  %h1 Do more with your app! Possible options include:
  %ul
    %li 
      %a{href: "/railsgirls/events/feb2014/workshop/features/authentication"}Adding password authentication for users
    %li 
      %a{href: "/railsgirls/events/feb2014/workshop/features/upload_pictures"}Uploading and storing images for a user's profile picture and posts
    %li 
      %a{href: "/railsgirls/events/feb2014/workshop/features/update_profiles"}Creating a page where a user can update their profile
    %li 
      %a{href: "/railsgirls/events/feb2014/workshop/features/user_tags"}Create links to other users in posts, similar to Facebook's tagging feature
    %li 
      %a{href: "/railsgirls/events/feb2014/workshop/features/geolocation"}Attaching a user's current location to their post
    %li 
      %a{href: "/railsgirls/events/feb2014/workshop/features/bootstrap"}Beautifying your application with Bootstrap, a popular front-end framework
    %li 
      %a{href: "/railsgirls/events/feb2014/workshop/features/heroku"}Deploying your application to the web, using Heroku
    %li 
      %a{href: "/railsgirls/events/feb2014/workshop/features/github"}Creating a Github account, so you can share your code with others

%hr 

.grid_12.explore-home
  %h1 Continue exploring at home! 
  %h3 We recommend the following resources:
  %div.block
    %a{href: "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book"}Ruby on Rails Tutorial: Learn Web Development with Rails by Michael Hartl
    %p This is the book today's workshop was based on. A truly fantastic resource and we hope that everyone will be able to read it and recognize parts of today's workshop.
  %div.block
    %a{href: "http://learn-rails.com/railsgirls"}Learn Ruby on Rails by Daniel Kehoe
    %p The author is offering this book free for participants of today's event. Please ask your coach for an invitation code.